<!doctype html>
<html>
    <head>
    </head>
    <body>
        <h1>Add new contact info</h1>
        <form method="post" enctype="application/json" action="/persons">
            
            <input type="text" placeholder="Your full name" name="name" required/>
            <input type="text" placeholder="Your full address" name="address" required/>
            <input type="number" placeholder="Your age" name="age" required/>
            
            <input type="submit" value="Send"/>
            
        </form>
    </body>
</html>