<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8">
        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
         <div>
             <nav id="head">
                 <a href="http://www.kaleva.fi">Kaleva</a>
                 <a href="http://www.iltasanomat.fi">Iltis</a>
                 <a href="addPerson.html">Add Person</a>
             </nav>
             <section>
                 <h1 class="about">About</h1>
                 <input id="search_text" type="text" placeholder="search by name"/>
                 <input type="button" value="Search" id="search"/>
                 <table class="table">
                     <thead>
                     </thead>
                     <tbody>
                     </tbody>
                 </table>
             </section>
             <footer data-dummy="">
                 <p>Copyright by Team Ohejlmistokehitys</p>
             </footer>
         </div>
        <script src="/lib/jquery-2.1.4.min.js"></script>
        <script src="/controllers/scripts.js"></script>
    </body>
</html>